.statistics {
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: left;
}

.title {
  font-size: 22px;
  color: #333;
}

.text {
  font-size: 18px;
  margin: 5px 0;
}
.positive {
  color: #4800ff;
  font-weight: bold;
}